/*
--------------------------------------------------
Author: Nicolás Hertzulis
E-mail: nicohertzulis@gmail.com
Organization: Despegar.com
GitHub repository: https://github.com/nhertzulis/gmnclient
Description: Style for index.html. GuessMyNumber - browser-based online game for educational purposes. API Documentation: www.guessmynumber.jurgens.com.ar/doc
Last modified: 12/02/2013
-------------------------------------------------- */
 
#welcome {
	font-weight: bold;
}
#username {
	text-decoration: underline;
}
#logo {
	/*float: left;
	height: 150px;*/
	width: 70%;
	margin: 0px;
}
#upper-content {
	/*float: right
	height: 50px;*/
	width: 100%;
	margin: 0px;
	background-color: #FF3867 !important;
	background: #4397EB !important;
	text-align: center;
	font-size: 12px;
	color: #1A1816;
	
}
#upper-container2 {
	/*width: 1024px;*/
}
#BoardContainer {
	float: left;
	width: 70%;
}
#PlayerContainer {
	float: right;
	width: 30%;
}
.upper-content2, .user-info {
	/*background: #999; /* for non-css3 browsers */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#F7A43E', endColorstr='#FF733D'); /* for IE */
	background: -webkit-gradient(linear, left top, left bottom, from(#F7A43E), to(#FF733D)); /* for webkit browsers */
	background: -moz-linear-gradient(top,  #F7A43E,  #FF733D); /* for firefox 3.6+ */
}
.table {
	width: 100%;
	border-collapse: collapse;
}
.table td, .table th {
	border: 1px solid #1A1816;
	padding: 3px 7px 2px 7px;
}
.table th  {
	text-align: left;
	/*padding-top: 5px;
	padding-bottom: 4px;
	background-color: #FF3867;*/
	background-color: #1A1816;
	color: #ffffff;
}
.ownRow {
	background-color: green;
}
.table tr.alt td  {
	color:#000000;
	background-color:#EAF2D3;
}
.PlayerBadge {
	border: 1px dashed grey;
	padding: 2px;
}
.SelectedBadge {
	border: 3px solid #1A1816;
}
.BigBadge {
	border: 3px dashed grey;
}
.container {
	width: 1024px;
	margin: auto;
}
.user-info {
	background-color: #FF3867;
	margin-top: 0px;
	margin-left: 50px;
	margin: auto;
}
body {
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	margin: 0px;
	/*background-color: #FFE7FF;*/
	background-color: #E9E9E9;
	background-image: url('../images/subtle_grunge.png');
	
}