/*
--------------------------------------------------
Author: Nicolás Hertzulis
Organization: Despegar.com
GitHub repository: https://github.com/nhertzulis/gmnclient
Description: Style for index.html. GuessMyNumber - browser-based online game for educational purposes. API Documentation: www.guessmynumber.jurgens.com.ar/doc
Last modified: 11/02/2013
-------------------------------------------------- */
 
#welcome {
	font-weight: bold;
}
#username {
	text-decoration: underline;
}
#logo {
	/*float: left;
	height: 150px;*/
	width: 70%;
	margin: 0px;
}
#upper-content {
	/*float: right
	height: 50px;*/
	width: 100%;
	margin: 0px;
	background-color: lightblue;
	text-align: center;
	
}
#upper-container2 {
	width: 1024px;
}
#BoardContainer {
	float: left;
	width: 70%;
}
#PlayerContainer {
	float: right;
	width: 30%;
}
.table {
	width: 100%;
	border-collapse: collapse;
}
.table td, .table th {
	border: 1px solid #1A1816;
	padding: 0px 0px 0px 0px;
}
.table th  {
	text-align: left;
	/*padding-top: 5px;
	padding-bottom: 4px;
	background-color: #FF3867;*/
	background-color: #1A1816;
	color: #ffffff;
}
.table tr.alt td  {
	color:#000000;
	background-color:#EAF2D3;
}
.PlayerBadge {
	border: 1px dashed grey;
	padding: 2px;
}
.SelectedBadge {
	border: 3px solid #1A1816;
}
.BigBadge {
	border: 3px dashed grey;
}
.container {
	width: 1024px;
	margin: auto;
}
.user-info {
	background-color: #FF3867;
	margin-top: 0px;
	margin-left: 50px;
	margin: auto;
}
body {
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	margin: 0px;
	/*background-color: #FFE7FF;*/
	background-color: #E9E9E9;
	background-image: url('../images/subtle_grunge.png');
	
}
ul#menu {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
	overflow: hidden;
}
li#menu {
	display: inline;
}
#menu a, #menu a{
	display: block;
	width: 60px;
}
#menu a:link, #menu a:visited {
	display:block;
	width:120px;
	font-weight:bold;
	color:#FFFFFF;
	background-color:#98bf21;
	text-align:center;
	padding:4px;
	text-decoration:none;
	text-transform:uppercase;
}
#menu a:hover, #menu a:active {
	background-color:#7A991A;
}